<app-user-nav></app-user-nav>
<header>
    <h1>MOSER</h1>
</header>
<div>
    <mat-tab-group mat-align-tabs="center" [dynamicHeight]="true">
        <mat-tab label="All">
            <mat-card class="card">
                <mat-card-header>
                    <img src="https://i.ebayimg.com/images/g/EdUAAOSwo1lcAqxN/s-l500.jpg" mat-card-avatar>
                    <mat-card-title>Star Wars Revenge of the Sith</mat-card-title>
                </mat-card-header>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <img src="https://seeklogo.com/images/T/the-boys-prime-video-logo-66921DD5C9-seeklogo.com.png" mat-card-avatar>
                    <mat-card-title>The Boys</mat-card-title>
                </mat-card-header>
            </mat-card>
        </mat-tab>
        <mat-tab label="Movies">
            <mat-card class="card">
                <mat-card-header>
                    <img src="https://i.ebayimg.com/images/g/EdUAAOSwo1lcAqxN/s-l500.jpg" mat-card-avatar>
                    <mat-card-title>Star Wars Revenge of the Sith</mat-card-title>
                </mat-card-header>
            </mat-card>
        </mat-tab>
        <mat-tab label="TV Shows">
            <mat-card class="card">
                <mat-card-header>
                    <img src="https://seeklogo.com/images/T/the-boys-prime-video-logo-66921DD5C9-seeklogo.com.png" mat-card-avatar>
                    <mat-card-title>The Boys</mat-card-title>
                </mat-card-header>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>